{% extends 'form/login_account.html.twig' %}

{% set captchaSettings = oViewConf.getSecurityModuleCaptchaSettings() %}

{% block account_login_form_captcha %}
    {% if captchaSettings.isCaptchaEnabled() %}
        {% include '@oe_security_module/form/image_captcha.html.twig' with { required: true } %}

        <script type="module" src="{{ oViewConf.getModuleUrl('oe_security_module', 'out/src/js/index.js') }}"></script>
    {% endif %}
{% endblock %}

{% block checkout_options_loginaccount_submitbutton %}
    {{ parent() }}

    {% if oViewConf.getProviders() %}
        {% for provider in oViewConf.getProviders() %}
            {% if provider.isActive() %}
                <a href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=oauth&provider=" ~ provider.getName() }) }}">
                    Continue with {{ provider.getName() }}
                </a>
            {% endif %}
            <br/>
        {% endfor %}
    {% endif %}
{% endblock %}
