{% extends 'form/user_password.html.twig' %}

{% block user_change_password_new %}
    {{ parent() }}

    <div class="progress mb-3" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 85%; background-color: green"></div>
    </div>
{% endblock %}
