{% extends 'form/fieldset/user_account.html.twig' %}

{% block user_account_password %}
    {{ parent() }}

    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%; background-color: red"></div>
    </div>
{% endblock %}

